#hero {
  display: flex;
  justify-content: center;
  background-image: url("../../../../public/assets/images/welcome-hero/welcome-banner.jpg");
  background-size: cover;
  background-position: center;
}

.hero-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  padding: 40px 0px 160px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 55vh;
}

.hero-desc,
.contact-us {
  text-align: center;
}

.hero-name,
.hero-desc {
  color: var(--background-color);
}

.hero-name {
  font-size: xx-large;
  font-weight: bolder;
}

.contact-us {
  background-color: #047857;
  color: var(--background-color);
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.contact-us:hover {
  background-color: #059669;
}
