.search-component {
  font-family: Arial, sans-serif;
  padding: 16px 32px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: -65px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: max-content;
  gap: 40px;
  align-items: center;
}

.search-component p {
  margin-top: 10px;
  font-size: 16px;
}

.search-component select {
  width: 100%;
  padding: 8px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-component button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-component button:hover {
  background-color: var(--accent-color);
}
