section {
  padding: 20px;
  background-color: #f4f4f4;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
  color: #007bff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.team-member p {
  color: #555;
  font-size: 1rem;
}

.team-member p strong {
  font-weight: bold;
}
