a {
  color: var(--primary-text-color);
}

a:hover {
  color: var(--accent-color);
}

.global-header {
  display: flex;
  width: 100%;
  padding: 20px 20px;
  justify-content: space-around;
  border: 1px solid var(--accent-color);
}

.active-link {
  border-bottom: 3px dotted var(--accent-color);
}
