/* Footer styles */
.footer {
  background-color: #d1fae5;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.brand-name a {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  text-decoration: none;
}

.brand-description,
.brand-contact {
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}

.about h2,
.top-brands h2,
.newsletter h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
  font-size: 16px !important;
}

.footer-links a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.footer-links a:hover {
  text-decoration: underline;
}

.newsletter-form {
  display: flex;
  gap: 10px;
}

.newsletter-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #d1fae5;
  color: var(--accent-color);
}

.subscribe-button {
  padding: 8px 16px;
  background-color: var(--accent-color);
  color: #222;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.subscribe-button:hover {
  background-color: var(--accent-color);
}

.copy {
  text-align: center;
  grid-column: span 4;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.social-links a {
  text-decoration: none;
  color: var(--accent-color);
}

.social-links a:hover {
  color: var(--accent-color);
}
